@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: white;
  }
}

body {
  color: var(--foreground);
  /* background: #000; */
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-box {
  animation: fade-in-up 0.3s ease-out;
}

.ql-container {
  min-height: 150px;
}

.ql-editor {
  font-size: 16px;
}
