@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: white;
  }
}

body {
  color: var(--foreground);
  /* background: #000; */
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-box {
  animation: fade-in-up 0.3s ease-out;
}

/* React Quill Rich Text Editor */
.ql-container {
  min-height: 150px;
}

.ql-editor {
  font-size: 16px;
}

.custom-quill .ql-editor.ql-blank::before {
  color: #8f8a8a;
  opacity: 1;
}

.custom-quill .ql-container {
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.custom-quill .ql-editor {
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
